body {
  width: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  min-width: 1300px;
}
ul,
p {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
.not-allowed {
  cursor: not-allowed !important;
}
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  not supported by any browser */
}
.fields-blue-color {
  color: #7b67ee;
  background: red;
}
.vh100 {
  height: 100vh;
}
/** 隐藏滚动条 */
.hidescorll::-webkit-scrollbar {
  width: 0 !important;
}
.hidescorll {
  -ms-overflow-style: none !important;
}
.hidescorll {
  overflow: -moz-scrollbars-none !important;
}
::-webkit-scrollbar {
  width: 6px !important;
  /*对垂直流动条有效*/
  height: 6px !important;
  /*对水平流动条有效*/
}
/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3) !important;
  background-color: #f8f8f8 !important;
  border-radius: 3px !important;
}
/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 7px !important;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3) !important;
  background-color: #d9d9d9 !important;
}
/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
  /* background-color: cyan; */
}
::-webkit-scrollbar-thumb {
  background-color: #d9d9d9 !important;
  background-clip: padding-box;
  border: 3px solid #d9d9d9 !important;
  border-radius: 6px;
  min-height: 36px;
}
/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  background: #dddddd !important;
}
::-webkit-scrollbar-button {
  display: block;
  height: auto;
  width: 2px;
  height: 2px;
}
.tag {
  margin-left: 12px;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 20px;
  background: rgba(66, 71, 246, 0.1);
  border-radius: 4px 4px 4px 4px;
  color: #4247f6;
  vertical-align: middle;
}
.index-warp {
  width: 100%;
  background-color: #eef1fe;
  /* background-image: url("../image/client-bg.png"); */
  background-repeat: no-repeat;
  background-position: -225px -400px;
  background-size: contain;
}
.content-warp {
  width: 100%;
  user-select: none;
}
.content-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  user-select: none;
}
.content-top .content-top-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 550;
}
.content-top .content-top-title a:hover {
  color: #4247f6;
}
.content-top .content-top-btn {
  margin-top: -6px;
}
.content-body {
  background: #ffffff;
  border-radius: 16px 16px 16px 16px;
  padding: 24px;
  height: 740px;
}
.content-score-send-body {
  background: #ffffff;
  border-radius: 16px 16px 16px 16px;
  padding: 24px;
  min-height: 720px;
  height: auto;
}
.content-body .content-body-top {
  display: flex;
  justify-content: space-between;
}
.form-tips {
  color: #bbbbbb;
  margin-left: 8px;
}
.content-body .content-body-tabs {
  user-select: none;
  font-weight: 600;
}
.ant-layout {
  background-color: transparent;
}
.ant-input-group-wrapper {
  width: 312px;
  border-radius: 18px 18px 18px 18px;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-radius: 18px;
  border-end-end-radius: 18px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  border: none;
  position: absolute;
  top: 4px;
  right: 48px;
}
.ant-input-group > .ant-input:first-child,
.ant-input-group .ant-input-group-addon:first-child {
  border-radius: 18px;
}
.ant-input-group-addon .ant-btn-primary {
  box-shadow: none;
}
.ant-input-search .ant-input {
  padding-right: 50px;
}
.ant-input-group .ant-input-group-addon {
  padding: 0;
  background: transparent;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  inset-inline-start: auto;
}
.ant-input-search .ant-input-search-button {
  width: 44px;
  height: 28px;
}
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  background: #f3f5f7;
}
.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
.ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  width: 0;
}
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  border-bottom: none;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 15px;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child,
.ant-table-cell-fix-right,
.ant-table-cell-fix-right-first {
  border-start-end-radius: 8px;
  border-bottom-right-radius: 8px;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 8px;
  border-bottom-left-radius: 8px;
}
.ant-modal-confirm .ant-modal-confirm-body {
  display: block;
}
.ant-modal-confirm .ant-modal-confirm-body > .anticon {
  font-size: 16px;
}
.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title {
  display: inline-block;
  color: #222222;
  overflow: inherit;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: 400;
}
.ant-modal-confirm
  .ant-modal-confirm-body
  > .anticon
  + .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  margin-inline-start: 0;
}
.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-content {
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 400;
  color: #727272;
}
.ant-modal-confirm
  .ant-modal-confirm-body
  .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  max-width: 100%;
}
.ant-modal .ant-modal-content {
  max-height: 600px;
  overflow-y: auto;
}
.ant-modal .ant-modal-header {
  margin-bottom: 24px;
}
.ant-modal .ant-modal-body {
  color: #727272;
}
.ant-modal .ant-modal-body .modal-body-row {
  margin-bottom: 16px;
}
.ant-message .ant-message-notice-success .ant-message-notice-content {
  padding: 12px 16px;
  background: #e5f6f1;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #00ab7c;
  color: #00ab7c;
}
.ant-message .ant-message-notice .ant-message-success > .anticon {
  color: #11aa66;
}
.ant-message .ant-message-notice-error .ant-message-notice-content {
  padding: 12px 16px;
  background: #fbe5e6;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #df000e;
  color: #df000e;
}
.ant-message .ant-message-notice .ant-message-error > .anticon {
  color: #df000e;
}
.ant-message .ant-message-notice-warning .ant-message-notice-content {
  padding: 12px 16px;
  background: #fdf4e8;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #eb981a;
  color: #eb981a;
}
.ant-message .ant-message-notice .ant-message-warning > .anticon {
  color: #eb981a;
}
.ant-message .ant-message-notice-info .ant-message-notice-content {
  padding: 12px 16px;
  background: #ececfe;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #4247f6;
  color: #4247f6;
}
.ant-message .ant-message-notice .ant-message-info > .anticon {
  color: #4247f6;
}
.ant-message .ant-message-notice-loading .ant-message-notice-content {
  padding: 12px 16px;
  background: #ececfe;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #4247f6;
  color: #4247f6;
}
.ant-message .ant-message-notice .ant-message-loading > .anticon {
  color: #4247f6;
}
.ant-breadcrumb ol {
  align-items: center;
}
.ant-btn-primary:disabled {
  color: #bbbbbb;
}
.ant-btn-default {
  box-shadow: none;
}
.tip-txt {
  color: #bbbbbb;
}
.ant-select .ant-select-arrow,
.cancel-btn {
  color: #727272;
}
.ant-input-textarea-affix-wrapper.ant-input-affix-wrapper {
  padding-bottom: 12px;
}
.ant-input-affix-wrapper,
.ant-input-number,
.ant-input {
  background-color: transparent;
}
.ant-input-textarea-show-count .ant-input-data-count {
  position: absolute;
  bottom: 0px;
  right: 7px;
  white-space: nowrap;
  pointer-events: none;
}
.ant-tag .ant-tag-close-icon:hover {
  color: #4247f6;
}
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  font-weight: 500;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .tab-line {
  background-color: #4247f6;
}
.tab-line {
  margin: auto;
  margin-top: 12px;
  width: 30%;
  height: 4px;
  background-color: #ffffff;
}
.ant-table-placeholder td {
  border: none !important;
}
.ant-table-body {
  /* overflow-y: auto !important; */
}
.ant-upload img {
  max-width: 100%;
  /* height: auto !important; */
}
.ant-tooltip {
  max-width: 400px;
}
.selected-user-modal {
  min-width: 700px;
}
.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  top: 1px !important;
}

:root:root {
  --adm-color-primary: #4247f6;
  --adm-color-success: #00ab7c;
  --adm-color-warning: #eb981a;
  --adm-color-danger: #df000e;

  --adm-color-white: #ffffff;
  --adm-color-text: #262626;
  --adm-color-text-secondary: #727272;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #ededed;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #ffffff;

  --adm-font-size-main: var(--adm-font-size-4);

  --adm-font-family: "苹方";
}
